.vscode
bin/
data/
libs/
licenses/
logs/
site-docs/
LICENSE
NOTICE
target/
.idea/
.gradle
kafka-starter/producer-wikimedia/build
kafka-starter/consumer-opensearch/build
kafka-starter/stream-wikimedia/build